[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pillow = "*"
decouple = "*"
twilio = "*"
djangorestframework-simplejwt = "*"
django-phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.10"
